.r2{
    margin-left: 5px;
}
.r3{
    margin-left: 5px;
}
.r4{
    margin-left: 5px;
    background-color: rgb(210, 242, 242);
}
.r5{
    margin-left: 5px;
    background-color: rgb(186, 157, 157);
}
.dropdownn{
    margin-left: 10%;
}